// colour palette
$theme-primary: green;
$theme-secondary: green;

// text colour

$copy-colour: #414342;
$heading-colour: #2B3F39;
$copy-colour-light: white;
$heading-colour-light: white;

// typography
footer {
  background-color: $heading-colour;

}

footer h5 {
  color: $heading-colour-light;
}


body {
  background-color: black;
}
