@import 'colour.scss';
@import 'responsive.scss';

$primary-stack: 'Noto Sans JP', sans-serif;
$secondary-stack: 'Noto Sans JP', sans-serif;
$base-font-size: 21px;
$line-height-body: 1.65;
$line-height-heading: 1.35;
$leading: $base-font-size * $line-height-body;


h1, h2, h3, h4, h5, h6, a, footer {
  font-family: $primary-stack;
  font-weight: bold;
  color: $heading-colour;
  line-height: $line-height-heading;
}

h5 {
  font-weight: 300;
}

small, p {
  font-family: $secondary-stack;
  color: $copy-colour;
  line-height: $line-height-body;
  font-weight: 400;
}

h1 {
  font-size: $base-font-size * 2.5;
}
h2 {
  font-size: $base-font-size * 2.25;
}
h3 {
  font-size: $base-font-size * 2;
}
h4 {
  font-size: $base-font-size * 1.75;
}
h5 {
  font-size: $base-font-size * 1.5;
}
h6 {
  font-size: $base-font-size * 1.25;
}
p, a {
  font-size: $base-font-size;
}
small {
  font-size: $base-font-size * 0.8;
}



// Tablet

@media (max-width: $breakpoint-tablet) {
  h1 {
    font-size: $base-font-size * $tablet-scale * 2.5;
  }
  h2 {
    font-size: $base-font-size * $tablet-scale * 2.25;
  }
  h3 {
    font-size: $base-font-size * $tablet-scale * 2;
  }
  h4 {
    font-size: $base-font-size * $tablet-scale * 1.75;
  }
  h5 {
    font-size: $base-font-size * $tablet-scale * 1.5;
  }
  h6 {
    font-size: $base-font-size * $tablet-scale * 1.25;
  }
  p,a {
    font-size: $base-font-size * $tablet-scale;
  }
  small {
    font-size: $base-font-size * $tablet-scale * 0.8;
  }
}


@media (max-width: $breakpoint-phone-large) {
  h1 {
    font-size: $base-font-size * $mobile-scale * 2.5;
  }
  h2 {
    font-size: $base-font-size * $mobile-scale * 2.25;
  }
  h3 {
    font-size: $base-font-size * $mobile-scale * 2;
  }
  h4 {
    font-size: $base-font-size * $mobile-scale * 1.75;
  }
  h5 {
    font-size: $base-font-size * $mobile-scale * 1.5;
  }
  h6 {
    font-size: $base-font-size * $mobile-scale * 1.25;
  }
  p,a {
    font-size: $base-font-size * $mobile-scale;
  }
  small {
    font-size: $base-font-size * $mobile-scale * 0.8;
  }
}


nav .deselected-tab {
  font-weight: 300;
}

nav .deselected-tab:hover {
  color: $heading-colour;
  text-decoration: underline;
}

a:hover {
    text-decoration: none;
}


nav .selected-tab {
  font-weight: 700;
}


.extra-padding {
  padding-top: 15px;
}
